table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.element-properties {
  display: flex;
  flex-wrap: wrap;
}

.property {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 4px;
  text-align: center;
}

.property-label {
  font-weight: bold;
}

.property-value {
  margin-top: 4px;
}

.supply-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.supply-info-horizontal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 400px;
  width: 30%;
}

.supply-info-horizontal:hover {
  background-color: #e0e0e0;
}

.supply-info-horizontal div {
  margin-bottom: 5px;
}

.supply-info-horizontal strong {
  font-weight: bold;
  margin-right: 5px;
}

.spinner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.search-field {
  width: 30%;
  padding-left: 1%;
}